
.container{
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line{
    display: flex;
    justify-content: space-between;
}

.card{
    height: 100px;
    width: 100px;
    border: 6px solid #477fc9;
    background-color: #94bee3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 0px;
}

.success-open-card{
    font-size: 60px;
    background-color: chartreuse;
}

.open-card{
    font-size: 40px;
}

.repeat{
    height: 100px;
    width: 400px;
    margin: 50px 200px;
}